<footer>
    Site design / logo © 2023 Coding Ninajs Inc;
    <ul>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
</footer>