<header>
    <div id="header">
   <h2>
    <a href="/">Codieal</a> </h2>

    <ul id="headerlinks">
        <%if(locals.user){%>
            <li>
                <a href="/users/profile"><%=user.name%></a>
            </li>
            <li>
                <a href="/users/sign-out">signOut</a>
            </li>

        <%}else{%>
            <li>
                <a href="/users/sign-in">signIn</a>
            </li>
            <li>
                <a href="/users/sign-up">signUp</a>
            </li>
        <%}%>
    </ul>
</div>
</header>