
        <p>Welcome to the <%=title%> page</p>
        
        <ul> 
                <%for(let i of Posts){%>
                        <li><%=i.content%></li>
                         <li><%=i.user.name%></li>
                         <br>
                <%}%>
        </ul>
        
       
        
        <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3"></textarea>
                <input type="submit" value="Post">
        </form>

