<h1>Sign-UP | Codeial</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="your name">
    <input type="email" name="email" placeholder="your email">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirm_password" placeholder="confirm password">
    <input type="submit" value="sign up">
</form>