<h1>Sign-IN | Codeial</h1>
<form action="/users/create-session" method="POST">
    
    <input type="email" name="email" placeholder="your email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="Sign In">
</form>

<p>
    <a href="/users/auth/google">Google SignIn/SignUp</a>
</p>