<html>
    <head>
        <title><%=title%></title>
        <%- include('_header'); %>
    </head>
    <body>
        <p>Welcome to the <%=title%> page</p>
        <%- include('_footer'); %>
    </body>
</html>