<link rel="stylesheet" href="/css/users_profile.css">
        <p>Welcome to the <%=title%> page</p>
        
        <p><%=profile_user.name%></p>
        <p><%=profile_user.email%></p>
        
        
   