$font-size: 20px;
footer{
    position: fixed;
    top: 95%;
    padding: 5px;
    display: flex;
    height: 50px;
    width: 100%;
    border: 2px solid black;
    background-color:darkseagreen;
    font-size: $font-size;
    
    ul{
        margin-top: -4px;
        list-style-type:none;
            a{
                padding: 2px;
                text-decoration: none;
                font-size: $font-size;
   
            }
        } 
}
