body{
    margin: 0;
    /* text-align: center; */

    #layout-main{
        height: 100%;
        padding: 10px;
    }
    #posts-list-container{
        margin: 5px;
        font-size: 1.4rem;
        font-weight: bold;
    }
  
}